<?php require(OPTPRESS_INCLUDES . "/var.php"); ?>
<?php
$postcustom = get_post_custom($post->ID);

$videoheight = !empty($postcustom['_optthemes_videoheight']) ? stripcslashes($postcustom['_optthemes_videoheight'][0])."px" :  "355px";
$videowidth = !empty($postcustom['_optthemes_videowidth']) ? stripcslashes($postcustom['_optthemes_videowidth'][0])."px" :  "628px";
$mainpreheadline = !empty($postcustom['_optthemes_preheadlinemaincolor']) ? stripcslashes($postcustom['_optthemes_preheadlinemaincolor'][0]) :  "636363";
$mainpreheadlineem = !empty($postcustom['_optthemes_alternativepreheadlinecolor']) ? stripcslashes($postcustom['_optthemes_alternativepreheadlinecolor'][0]) :  "636363";

$mainsalespreheadline = !empty($postcustom['_launchpage_preheadlinemaincolor']) ? stripcslashes($postcustom['_launchpage_preheadlinemaincolor'][0]) :  "636363";
$mainsalespreheadlineem = !empty($postcustom['_launchpage_alternativepreheadlinecolor']) ? stripcslashes($postcustom['_launchpage_alternativepreheadlinecolor'][0]) :  "636363";

$headlinecolor = !empty($postcustom['_optthemes_colorpickerField1']) ? stripcslashes($postcustom['_optthemes_colorpickerField1'][0]) :  "db1f00";
$headlinecolorem = !empty($postcustom['_optthemes_colorpickerField2']) ? stripcslashes($postcustom['_optthemes_colorpickerField2'][0]) :  "215e8e";

$mainbottomheadline = !empty($postcustom['_optthemes_headlinebelowvideomaincolor']) ? stripcslashes($postcustom['_optthemes_headlinebelowvideomaincolor'][0]) :  "DB1F00";
$mainbottomheadlineem = !empty($postcustom['_optthemes_alternativeheadlinebelowvideocolor']) ? stripcslashes($postcustom['_optthemes_alternativeheadlinebelowvideocolor'][0]) :  "db1f00";

$mainpostheadline = !empty($postcustom['_optthemes_subheadlinemaincolor']) ? stripcslashes($postcustom['_optthemes_subheadlinemaincolor'][0]) :  "303030";
$mainpostheadlineem = !empty($postcustom['_optthemes_alternativesubheadlinecolor']) ? stripcslashes($postcustom['_optthemes_alternativesubheadlinecolor'][0]) :  "303030";

$mainsalespostheadline = !empty($postcustom['_launchpage_subheadlinemaincolor']) ? stripcslashes($postcustom['_launchpage_subheadlinemaincolor'][0]) :  "303030";
$mainsalespostheadlineem = !empty($postcustom['_launchpage_alternativesubheadlinecolor']) ? stripcslashes($postcustom['_launchpage_alternativesubheadlinecolor'][0]) :  "303030";

$sidebarheadlinecolor = !empty($postcustom['_optthemes_sidebarheadlinemaincolor']) ? stripcslashes($postcustom['_optthemes_sidebarheadlinemaincolor'][0]) :  "215e8e";

$seometadescription = !empty($postcustom['_seo_metadescription']) ? stripcslashes($postcustom['_seo_metadescription'][0]) :  "";
$seometakeywords = !empty($postcustom['_seo_metakeywords']) ? stripcslashes($postcustom['_seo_metakeywords'][0]) :  "";

$seonoindex = !empty($postcustom['_seo_1']) ? $postcustom['_seo_1'][0]=="yes" ? "noindex," : "index," :  "index,";
$seonofollow = !empty($postcustom['_seo_2']) ? $postcustom['_seo_2'][0]=="yes" ? "nofollow," : "follow," :  'follow,';
$seonoarchive = !empty($postcustom['_seo_3']) ? $postcustom['_seo_3'][0]=="yes" ? "noarchive" : "archive" :  'archive';
?>

span.cufon {margin:2px 0px;}
#launchvideobox{margin:0px auto;
}

#videobox2{margin:0px auto;
<?php if($postcustom['_launchpage_showshadowborder']){ ?>
-moz-box-shadow: 0px 0px 4px #666;
	-webkit-box-shadow: 0px 0px 4px #666;
	box-shadow: 0px 0px 4px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#666666');
<?php } ?>
}

#videobox3{margin:0px auto;
<?php if($postcustom['_launchpage_showshadowborder']){ ?>
-moz-box-shadow: 0px 0px 4px #666;
	-webkit-box-shadow: 0px 0px 4px #666;
	box-shadow: 0px 0px 4px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#666666');
<?php } ?>
}

#videobox{margin:0px auto;
<?php if($postcustom['_optthemes_showshadowborder']){ ?>
	-moz-box-shadow: 0px 0px 4px #666;
	-webkit-box-shadow: 0px 0px 4px #666;
	box-shadow: 0px 0px 4px #666;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#666666')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#666666');
<?php } ?>
}

<?php
	switch(stripcslashes($postcustom['_optthemes_preheadlinefont'][0])) {
		case "Arial": { $preheadlinecss = "letter-spacing:-1px"; break;	}
		case "Impact": { $preheadlinecss = "letter-spacing:0px"; break;	}
		case "Vegur": { $preheadlinecss = "letter-spacing:-1px"; break; }
		case "Georgia": { $preheadlinecss = "letter-spacing:0px;font-weight:normal"; break; }
		case "Tahoma": { $preheadlinecss = "letter-spacing:-1px"; break; }
	}
	switch(stripcslashes($postcustom['_optthemes_headlinefont'][0])) {
		case "Arial": { $headlinecss = "letter-spacing:-2px;line-height:32px"; break; }
		case "Impact": { $headlinecss = "letter-spacing:-1px"; break; }
		case "Vegur": { $headlinecss = "letter-spacing:-1px;line-height:35px"; break; }
		case "Georgia": { $headlinecss = "letter-spacing:-2px"; break; }
		case "Tahoma": { $headlinecss = "letter-spacing:-1px"; break; }
	}
	switch(stripcslashes($postcustom['_optthemes_subheadlinefont'][0])) {
		case "Arial": { $postheadlinecss = "letter-spacing:-1px"; break; }
		case "Impact": { $postheadlinecss = "letter-spacing:0px"; break; }
		case "Vegur": { $postheadlinecss = "letter-spacing:-1px"; break; }
		case "Georgia": { $postheadlinecss = "letter-spacing:0px;font-weight:normal"; break; }
		case "Tahoma": { $postheadlinecss = "letter-spacing:-1px"; break; }
	}
	switch(stripcslashes($postcustom['_optthemes_headlinebelowvideofont'][0])) {
		case "Arial": { $bottomheadlinecss = "letter-spacing:-2px;line-height:32px"; break; }
		case "Impact": { $bottomheadlinecss = "letter-spacing:0px"; break; }
		case "Vegur": { $bottomheadlinecss = "letter-spacing:-1px;line-height:35px"; break; }
		case "Georgia": { $bottomheadlinecss = "letter-spacing:-2px"; break; }
		case "Tahoma": { $bottomheadlinecss = "letter-spacing:-1px"; break; }
	}
	switch(stripcslashes($postcustom['_optthemes_sidebarheadlinefont'][0])) {
		case "Arial": { $sidebarheadlinecss = "letter-spacing:-1px;line-height:21px"; break;	}
		case "Impact": { $sidebarheadlinecss = "letter-spacing:-0px;font-weight:normal"; break;	}
		case "Vegur": { $sidebarheadlinecss = "letter-spacing:-1px;font-weight:bold"; break; }
		case "Georgia": { $sidebarheadlinecss = "letter-spacing:0px;font-weight:normal"; break; }
		case "Tahoma": { $sidebarheadlinecss = "letter-spacing:-1px"; break; }
		case "Hand of Sean": { $sidebarheadlinecss = "letter-spacing:0px"; break; }
		case "Arial Narrow": { $sidebarheadlinecss = "letter-spacing:-1px"; break; }
	}
	
	/* Launch Pages Above/Below Video Text Spacing/Setting */
	switch(stripcslashes($postcustom['_launchpage_headlineabovevideofont'][0])) {
		case "Arial": { $launch_abovevideocss = "letter-spacing:-2px;line-height:32px"; break;	}
		case "Impact": { $launch_abovevideocss = "letter-spacing:-1px;font-weight:normal"; break;	}
		case "Vegur": { $launch_abovevideocss = "letter-spacing:-1px;font-weight:bold"; break; }
		case "Georgia": { $launch_abovevideocss = "letter-spacing:-2px;font-weight:bold"; break; }
		case "Tahoma": { $launch_abovevideocss = "letter-spacing:-3px"; break; }
		case "Hand of Sean": { $launch_abovevideocss = "letter-spacing:0px"; break; }
		case "Arial Narrow": { $launch_abovevideocss = "letter-spacing:-1px"; break; }
	}
	switch(stripcslashes($postcustom['_launchpage_headlinebelowvideofont'][0])) {
		case "Arial": { $launch_belowvideocss = "letter-spacing:-2px;line-height:32px"; break;	}
		case "Impact": { $launch_belowvideocss = "letter-spacing:-1px;font-weight:normal"; break;	}
		case "Vegur": { $launch_belowvideocss = "letter-spacing:-1px;font-weight:bold"; break; }
		case "Georgia": { $launch_belowvideocss = "letter-spacing:-2px;font-weight:bold"; break; }
		case "Tahoma": { $launch_belowvideocss = "letter-spacing:-3px"; break; }
		case "Hand of Sean": { $launch_belowvideocss = "letter-spacing:0px"; break; }
		case "Arial Narrow": { $launch_belowvideocss = "letter-spacing:-1px"; break; }
	}

?>




<?php echo !empty($postcustom['_launchpage_launchbgcolor']) ? 'body{background-color:#'.$postcustom['_launchpage_launchbgcolor'][0].';}' : ''; ?>


#footer-inside{color:#<?php echo stripcslashes($postcustom['_launchpage_footertextcolor'][0]); ?><?php echo stripcslashes($postcustom['_optthemes_footertextcolor'][0]); ?>;}

#footer-inside a{color:#<?php echo stripcslashes($postcustom['_launchpage_footertextcolor'][0]); ?><?php echo stripcslashes($postcustom['_optthemes_footertextcolor'][0]); ?>;}

.footer-right a{color:#<?php echo stripcslashes($postcustom['_launchpage_footertextcolor'][0]); ?><?php echo stripcslashes($postcustom['_optthemes_footertextcolor'][0]); ?>;text-decoration:none;font-weight:normal;}

.footer-right li:first-child  {border-left:0px solid #<?php echo stripcslashes($postcustom['_launchpage_footertextcolor'][0]); ?><?php echo stripcslashes($postcustom['_optthemes_footertextcolor'][0]); ?>;padding-left:0px;}

.footer-right li:first-child a {border-left:0px solid #<?php echo stripcslashes($postcustom['_launchpage_footertextcolor'][0]); ?><?php echo stripcslashes($postcustom['_optthemes_footertextcolor'][0]); ?>;padding-left:0px;}

.footer-right li {color:#<?php echo stripcslashes($postcustom['_launchpage_footertextcolor'][0]); ?>;border-left:1px solid #<?php echo stripcslashes($postcustom['_launchpage_footertextcolor'][0]); ?>;
}
<?php $squeezepreheadlinefontsize=($postcustom['_optthemes_preheadlinefontsize'])?'font-size:'.$postcustom['_optthemes_preheadlinefontsize'][0].'px;':''; ?>
<?php $squeezepreheadlinefontweight=($postcustom['_optthemes_preheadlinefontweight'])?'font-weight:'.$postcustom['_optthemes_preheadlinefontweight'][0].';':''; ?>
<?php $squeezepreheadlinefontstyle=($postcustom['_optthemes_preheadlinefontstyle'])?'font-style:'.$postcustom['_optthemes_preheadlinefontstyle'][0].';':''; ?>
<?php $squeezepreheadlineletterspacing=($postcustom['_optthemes_preheadlineletterspacing'])?'letter-spacing:'.$postcustom['_optthemes_preheadlineletterspacing'][0].';':''; ?>
.main-preheadline{color:#<?=$mainpreheadline?> !important;<?=$preheadlinecss?>;<?=$squeezepreheadlinefontsize?><?=$squeezepreheadlinefontweight?><?=$squeezepreheadlinefontstyle?><?=$squeezepreheadlineletterspacing?>}
.main-preheadline em{color:#<?=$mainpreheadlineem?> !important;<?=$preheadlinecss?>;<?=$squeezepreheadlinefontsize?><?=$squeezepreheadlinefontweight?><?=$squeezepreheadlinefontstyle?><?=$squeezepreheadlineletterspacing?>}

<?php $squeezeheadlinefontsize=($postcustom['_optthemes_headlinefontsize'])?'font-size:'.$postcustom['_optthemes_headlinefontsize'][0].'px;':''; ?>
<?php $squeezeheadlinefontweight=($postcustom['_optthemes_headlinefontweight'])?'font-weight:'.$postcustom['_optthemes_headlinefontweight'][0].';':''; ?>
<?php $squeezeheadlinefontstyle=($postcustom['_optthemes_headlinefontstyle'])?'font-style:'.$postcustom['_optthemes_headlinefontstyle'][0].';':''; ?>
<?php $squeezeheadlineletterspacing=($postcustom['_optthemes_headlineletterspacing'])?'letter-spacing:'.$postcustom['_optthemes_headlineletterspacing'][0].';':''; ?>
.main-headline{color:#<?=$headlinecolor?> !important;<?=$headlinecss?>;<?=$squeezeheadlinefontsize?><?=$squeezeheadlinefontsize?><?=$squeezeheadlinefontweight?><?=$squeezeheadlinefontstyle?><?=$squeezeheadlineletterspacing?>}
.main-headline em{color:#<?=$headlinecolorem?> !important;<?=$headlinecss?>;<?=$squeezeheadlinefontsize?><?=$squeezeheadlinefontsize?><?=$squeezeheadlinefontweight?><?=$squeezeheadlinefontstyle?><?=$squeezeheadlineletterspacing?>}

<?php $squeezeheadlinebelowvideofontsize=($postcustom['_optthemes_headlinebelowvideofontsize'])?'font-size:'.$postcustom['_optthemes_headlinebelowvideofontsize'][0].'px;':''; ?>
<?php $squeezeheadlinebelowvideofontweight=($postcustom['_optthemes_headlinebelowvideofontweight'])?'font-weight:'.$postcustom['_optthemes_headlinebelowvideofontweight'][0].';':''; ?>
<?php $squeezeheadlinebelowvideofontstyle=($postcustom['_optthemes_headlinebelowvideofontstyle'])?'font-style:'.$postcustom['_optthemes_headlinebelowvideofontstyle'][0].';':''; ?>
<?php $squeezeheadlinebelowvideoletterspacing=($postcustom['_optthemes_headlinebelowvideoletterspacing'])?'letter-spacing:'.$postcustom['_optthemes_headlinebelowvideoletterspacing'][0].';':''; ?>
.main-bottomheadline{color:#<?=$mainbottomheadline?> !important;<?=$bottomheadlinecss?>;<?=$squeezeheadlinebelowvideofontsize?><?=$squeezeheadlinebelowvideofontweight?><?=$squeezeheadlinebelowvideofontstyle?><?=$squeezeheadlinebelowvideoletterspacing?>}
.main-bottomheadline em{color:#<?=$mainbottomheadlineem?> !important;<?=$bottomheadlinecss?>;<?=$squeezeheadlinebelowvideofontsize?><?=$squeezeheadlinebelowvideofontweight?><?=$squeezeheadlinebelowvideofontstyle?><?=$squeezeheadlinebelowvideoletterspacing?>}

<?php $squeezesubheadlinefontsize=($postcustom['_optthemes_subheadlinefontsize'])?'font-size:'.$postcustom['_optthemes_subheadlinefontsize'][0].'px;':''; ?>
<?php $squeezesubheadlinefontweight=($postcustom['_optthemes_subheadlinefontweight'])?'font-weight:'.$postcustom['_optthemes_subheadlinefontweight'][0].';':''; ?>
<?php $squeezesubheadlinefontstyle=($postcustom['_optthemes_subheadlinefontstyle'])?'font-style:'.$postcustom['_optthemes_subheadlinefontstyle'][0].';':''; ?>
<?php $squeezesubheadlineletterspacing=($postcustom['_optthemes_subheadlineletterspacing'])?'letter-spacing:'.$postcustom['_optthemes_subheadlineletterspacing'][0].';':''; ?>
.main-postheadline{color:#<?=$mainpostheadline?> !important;<?=$postheadlinecss?>;<?=$squeezesubheadlinefontsize?><?=$squeezesubheadlinefontweight?><?=$squeezesubheadlinefontstyle?><?=$squeezesubheadlineletterspacing?>}
.main-postheadline em{color:#<?=$mainpostheadlineem?> !important;<?=$postheadlinecss?>;<?=$squeezesubheadlinefontsize?><?=$squeezesubheadlinefontweight?><?=$squeezesubheadlinefontstyle?><?=$squeezesubheadlineletterspacing?>}

<?php $salespreheadlinefontsize = ($postcustom['_launchpage_preheadlinefontsize']) ? 'font-size:'.$postcustom['_launchpage_preheadlinefontsize'][0].'px;' : ''; ?>
<?php $salespreheadlinefontweight=($postcustom['_launchpage_preheadlinefontweight'])?'font-weight:'.$postcustom['_launchpage_preheadlinefontweight'][0].';':''; ?>
<?php $salespreheadlinefontstyle=($postcustom['_launchpage_preheadlinefontstyle'])?'font-style:'.$postcustom['_launchpage_preheadlinefontstyle'][0].';':''; ?>
<?php $salespreheadlineletterspacing=($postcustom['_launchpage_preheadlineletterspacing'])?'letter-spacing:'.$postcustom['_launchpage_preheadlineletterspacing'][0].';':''; ?>
.sales-preheadline{color:#<?=$mainsalespreheadline?> !important;<?=$preheadlinecss?>;<?=$salespreheadlinefontsize?><?=$salespreheadlinefontweight?><?=$salespreheadlinefontstyle?><?=$salespreheadlineletterspacing?>}
.sales-preheadline em{color:#<?=$mainsalespreheadlineem?> !important;<?=$preheadlinecss?>;<?=$salespreheadlinefontsize?><?=$salespreheadlinefontweight?><?=$salespreheadlinefontstyle?><?=$salespreheadlineletterspacing?>}

<?php $salessubheadlinefontsize = ($postcustom['_launchpage_subheadlinefontsize']) ? 'font-size:'.$postcustom['_launchpage_subheadlinefontsize'][0].'px;' : ''; ?>
<?php $salessubheadlinefontweight=($postcustom['_launchpage_subheadlinefontweight'])?'font-weight:'.$postcustom['_launchpage_subheadlinefontweight'][0].';':''; ?>
<?php $salessubheadlinefontstyle=($postcustom['_launchpage_subheadlinefontstyle'])?'font-style:'.$postcustom['_launchpage_subheadlinefontstyle'][0].';':''; ?>
<?php $salessubheadlineletterspacing=($postcustom['_launchpage_subheadlineletterspacing'])?'letter-spacing:'.$postcustom['_launchpage_subheadlineletterspacing'][0].';':''; ?>
.sales-postheadline{color:#<?=$mainsalespostheadline?> !important;<?=$salessubheadlinefontsize?><?=$salessubheadlinefontweight?><?=$salessubheadlinefontstyle?><?=$salessubheadlineletterspacing?>}
.sales-postheadline em{color:#<?=$mainsalespostheadlineem?> !important;<?=$salessubheadlinefontsize?><?=$salessubheadlinefontweight?><?=$salessubheadlinefontstyle?><?=$salessubheadlineletterspacing?>}

<?php $salesheadlinefontsize = ($postcustom['_launchpage_headlinefontsize']) ? 'font-size:'.$postcustom['_launchpage_headlinefontsize'][0].'px;' : ''; ?>
<?php $salesheadlinefontweight=($postcustom['_launchpage_headlinefontweight'])?'font-weight:'.$postcustom['_launchpage_headlinefontweight'][0].';':''; ?>
<?php $salesheadlinefontstyle=($postcustom['_launchpage_headlinefontstyle'])?'font-style:'.$postcustom['_launchpage_headlinefontstyle'][0].';':''; ?>
<?php $salesheadlineletterspacing=($postcustom['_launchpage_headlineletterspacing'])?'letter-spacing:'.$postcustom['_launchpage_headlineletterspacing'][0].';':''; ?>
<?php $salesheadlinebelowvideofontsize = ($postcustom['_launchpage_headlinebelowvideofontsize']) ? 'font-size:'.$postcustom['_launchpage_headlinebelowvideofontsize'][0].'px;' : ''; ?>
<?php $salesheadlinebelowvideofontweight=($postcustom['_launchpage_headlinebelowvideofontweight'])?'font-weight:'.$postcustom['_launchpage_headlinebelowvideofontweight'][0].';':''; ?>
<?php $salesheadlinebelowvideofontstyle=($postcustom['_launchpage_headlinebelowvideofontstyle'])?'font-style:'.$postcustom['_launchpage_headlinebelowvideofontstyle'][0].';':''; ?>
<?php $salesheadlinebelowvideoletterspacing=($postcustom['_launchpage_headlinebelowvideoletterspacing'])?'letter-spacing:'.$postcustom['_launchpage_headlinebelowvideoletterspacing'][0].';':''; ?>
.launchtopheadline{ <?=$salesheadlinefontsize?><?=$salesheadlinefontweight?><?=$salesheadlinefontstyle?><?=$salesheadlineletterspacing?> }
.launchbottomheadline{ <?=$salesheadlinebelowvideofontsize?><?=$salesheadlinebelowvideofontweight?><?=$salesheadlinebelowvideofontstyle?><?=$salesheadlinebelowvideoletterspacing?>  }
.sidebar-headline{color:#<?=$sidebarheadlinecolor?> !important;<?=$sidebarheadlinecss?>;}

#sidebarvideoboximage{height:163px;width:323px;background-image:url(<?php echo ''.$postcustom['_optthemes_images'][0].'' ?>);}	

#maintopbar{background-color:#<?php echo stripcslashes($postcustom['_optthemes_headercolor'][0]); ?>;}
#footer{background-color:#<?php echo stripcslashes($postcustom['_optthemes_footercolor'][0]); ?>;}

a {color:#<?php echo ($postcustom['_launchpage_pagehyperlinkcolor']) ? stripcslashes($postcustom['_launchpage_pagehyperlinkcolor'][0]) : '0000ff'; ?>;text-decoration:none;}

<?php echo ($postcustom['_launchpage_activateheadertext']) ? "#headertext { color:#".$postcustom['_launchpage_headertextcolor'][0].";  }" : ""; ?>

<?php echo ($postcustom['_optthemes_activateheadertext']) ? "#headertext { color:#".$postcustom['_optthemes_headertextcolor'][0].";  }" : ""; ?>

<?php echo ($postcustom['_optthemes_activatesidebararrow']) ? ".sidebar-arrow{margin:0px auto;background-image:url(".get_bloginfo('template_directory')."/images/arrows/".$postcustom['_optthemes_sidebararrowstyle'][0].".gif);background-position:center;width:290px;height:99px;background-repeat:no-repeat;}" : ""; ?>

<?php echo !empty($postcustom['_launchpage_headlineabovevideofont']) ? '.launchtopheadline{color:#'.$postcustom['_launchpage_headlineabovevideofontcolor'][0].';'.$launch_abovevideocss.';}' : ''; ?>
<?php echo !empty($postcustom['_launchpage_headlinebelowvideofont']) ? '.launchbottomheadline{color:#'.$postcustom['_launchpage_headlinebelowvideofontcolor'][0].';'.$launch_belowvideocss.';}' : ''; ?>

<?php 
// Header Nav Style
switch($postcustom['_launchpage_headernavstyle'][0]){
	// page templates
	case 'style1';
		echo '.launch1navbar li {
		font-size:15px;
		letter-spacing:0.15em;
		padding:0 20px 0 25px;
		text-transform:uppercase;
		font-weight:normal;
		}';
	break;
	case 'style2';
		echo '.launch1navbar li {
font-size:16px;
letter-spacing:0em;
padding:0 18px 0 18px;
font-weight:bold;
}';
	break;
	case 'style3';
		echo '.launch1navbar li {
font-size:14px;
letter-spacing:0em;
padding:0 18px 0 18px;
font-weight:bold;
}';
	break;
}

// Main Body Text Font
$mainbodytextfont = stripcslashes($postcustom['_launchpage_mainbodytextfont'][0]);
$launchbgtiling = ($postcustom['_launchpage_launchbgimgtiling']) ? stripcslashes($postcustom['_launchpage_launchbgimgtiling'][0]) : 'repeat';
$bgimgurl = ($postcustom['_launchpage_launchbgimgurl']) ? 'url('.stripcslashes($postcustom['_launchpage_launchbgimgurl'][0]).');background-repeat:'.$launchbgtiling : 'none';
?>

#launchbk p {font-family:<?=$mainbodytextfont?>;}
#launchbk h2{font-family:<?=$mainbodytextfont?>;}
#launchbk h3{font-family:<?=$mainbodytextfont?>;}
#launchbk h1{font-family:<?=$mainbodytextfont?>;}
body{font-family:<?=$mainbodytextfont?>;background-image:<?=$bgimgurl?>;}
<?php echo ($postcustom['_launchpage_showcommentcalltoaction']) ? '' : '#launchcommentslink { display:none; }'; ?>
<?php echo ($postcustom['_optthemes_showcommentcalltoaction']) ? '#launchcommentslink { display:block; }' : ''; ?>
<?php // Bullet Style
$bulletstyle = stripcslashes($postcustom['_optthemes_bulletstyle'][0]);
echo "#main li{background-image: url(".get_bloginfo('template_directory')."/images/".$bulletstyle.".png)}";
?>
<?php // Bullet Style
$bulletstyle = stripcslashes($postcustom['_optthemes_bulletstyle'][0]);
echo "#main-lower li{background-image: url(".get_bloginfo('template_directory')."/images/".$bulletstyle.".png) !important;}";
?>

#main li{background-position:0 2px;padding-left:39px;}

.launch1navbar a.CurrentLinkActiveClass{color:#<?=$currentsalespagenavcolor?>}

<?php echo ($postcustom['_launchpage_hidemembermoduletitle']) ? '.moduletitle { display:none; }' : ''; ?>
<?php echo ($postcustom['_launchpage_hidemembercontenttitle']) ? '.contenttitle1,.contenttitle1ns { display:none; }' : ''; ?>

<?php
if($customcss) {
echo stripslashes($customcss); 
}
?>

<?php if($postcustom['_seo_onpagecustomcss']) {
echo stripslashes($postcustom['_seo_onpagecustomcss'][0]); 
}
?>
