@charset "UTF-8";
/* CSS Document */

body{
	background: #efefef;
	background-repeat:repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font: 0.75em/160% Helvetica, Arial, Verdana, sans-serif;
}

.aclear{clear:both;}



/*New Blog Codes */

.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}

.pagination a:hover{
color:#fff;
background: #3279BB;
}

.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}

.postinfoheader{padding-bottom:0px;}

#blogfooter{width:1005px;height:43px;background-image:url(images/blogfooter.png);margin:0px auto;}


#wrapper{width:1005px;margin:0px auto;}

#wrapper2{width:1005px;margin:0px auto;background-image:url(images/blogbk.png);}

#innerwrapper{margin:0px auto;width:977px;}

#header{width:977px;background-image:url(images/header.jpg);height:170px;margin:0px auto;}
#navbar{height:48px;width:977px;margin:0px auto;}

#blogmain{float:left;width:640px;padding-left:35px;padding-top:5px;padding-bottom:15px;}

#launchbk{width:860px !important;padding-left:50px;padding-right:50px;padding-top:20px !important;padding-bottom:15px;}

#blogsidebar{float:left;width:260px;padding-left:10px;padding-right:30px;margin-top:15px;}

#blogsidebar p{padding:10px 0;color:#404040;}

.page-title{padding-top:25px;}

.postcontent{padding-top:33px;padding-bottom:14px;border-bottom:1px solid #ececec;}

.postcontent:first-child{padding-top:25px;padding-bottom:14px;border-bottom:1px solid #ececec;}

/* Blog Content List Styles */

.postcontent ul li, .postcontent ol li{
	color:#444444;
    font-family: inherit;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
    padding-top: 4px;
}

.postcontent ul li:first-child, .postcontent ol li:first-child, {padding-top: 0px;}

.postcontent ul{margin-left:20px;}

.postcontent ol{margin-left:30px;}

.postcontent ul li, .postcontent ol li {
	color:#444444;
    font-family: inherit;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
    padding-top: 4px;
}

.postcontent ul li:first-child, .postcontent ol li:first-child {padding-top: 0px;}



.postpic{float:left;width:170px;}
.postinfo{float:left;width:445px;}

.postinfo h2{font-size:25px !important;letter-spacing:-1px !important;line-height:28px !important;margin-top:0px !important;color:#010101;padding-top:0px;}

.postinfo h2 a{text-decoration:none;color:#010101;}

.postinfo p{font-size:14px !important;color:#444444;line-height:21px;margin-top:0px;margin-bottom:0px;padding:10px 0 !important;}

.readmoreicon{height:16px;width:16px;background-image:url(images/control_play.png);float:left;}
.readmorelink{height:16px;padding-left:5px;float:left;width:120px;font-size:13px;font-weight:bold;font-family:helvetica,arial,sans-serif;}

.commentsicon{height:16px;width:16px;background-image:url(images/comments.png);float:left;}
.commentslink{height:16px;padding-left:7px;float:left;width:100px;font-size:13px;font-weight:bold;font-family:helvetica,arial,sans-serif;}

.commentslink a{text-decoration:none;color:#666666;}
.readmorelink a{text-decoration:none;}

.postbar{height:25px;padding-top:15px;}


#blog_post .entry-content p{padding:10px 0 !important;}
#blog_post .entry-content p:first-child{padding-top:0px !important;padding-bottom:10px !important;}
#blog_post .entry-content{color:#404040;font-size:14px;line-height:21px;}
#blog_post .entry-content h1{font-weight:normal;font-size:27px;line-height:27px;}
#blog_post .entry-content h2{font-weight:normal;font-size:23px;line-height:23px;}
#blog_post .entry-content h3{font-weight:normal;font-size:19px;line-height:19px;}


.entry-content ul{margin-left: 30px;}

/* Sidebar Form Content */

form .text {
background:#f6f6f6 none repeat scroll 0 0;
border:2px solid #999999;
color:#202020;
font-size:20px;
margin-bottom:6px;
padding-top:10px;
padding-bottom:10px;
padding-left:12px;
width:285px;

}




input, textarea {
-x-system-font:none;
color:#000000;
font-family:Arial,Helvetica,Sans-Serif;
font-size:15px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;

}



/* Footer Content */

#footer{height:91px;}

#footer-inside{width:950px;padding-top:10px;margin:0px auto;font-family:Arial, Helvetica, sans-serif;color:#888888;font-size:13px;}

#footer-inside a{text-decoration:none;color:#888888;}

.footer-left{text-align:center;padding-top:8px;}

.footer-right{text-align:center;padding-top:5px;}


.footer-right ul{margin:0px;padding:0px;}

.footer-right a{color:#888888;text-decoration:none;font-weight:normal;}

.footer-right li:first-child  {border-left:0px solid #c0c0c0;padding-left:0px;}

.footer-right li:first-child a {border-left:0px solid #c0c0c0;padding-left:0px;}

.footer-right li {color:#888888;
border-left:1px solid #c0c0c0;
display:inline;
font-size:13px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
padding-left:10px;
padding-right:10px;
padding-top:0px;
padding-bottom:0px;
}





.launchcommentspic a{color:#636363;text-decoration:none;}

.inputcomments{color:#494949;border:1px solid #c7c7c7;padding:5px;font-size:13px;width:580px;}

#fbcomments {padding-top:10px;padding-bottom:10px;}

.commentswidth { width:470px; }

.commenttitle{float:left;width:500px;font-size:16px;padding-top:5px;}

.commenttitle2{float:left;padding-top:5px;width:620px;}




/*NEW NAVBAR*/


#blognavbar{width:100%;height:48px;padding-top:0px;margin:0px auto;}

#blognavbarbk{width:100%;padding-top:0px;height:48px;
background: #efefef;
	background-image: -moz-linear-gradient(100% 100% 90deg, #bcbcbc, #f1f1f1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#bcbcbc));
	border-bottom:2px solid #666;margin-top:0px;margin-bottom:0px;margin-left:0px auto;margin-right:0px auto;
}



#access {
	display: block;
	float: left;
	width: 100%;
	padding-left:15px;
	margin: 0 auto;
	padding-right:15px;
	
}
#access .menu-header,
div.menu {
	
	font-size: 14px;
	padding-left:0px;
	width:990px;
}
#access .menu-header ul,
div.menu ul {
	
	list-style: none;
	margin: 0;
	border:0px;
	background:#999999;
	
}

#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
	border:0px;
	padding:0px;
}

/* Main Menu Font - Link Selectors */

#access a {
	color:#333333;
	display: block;
	line-height: 48px;
	padding: 0 15px;
	text-decoration: none;
	font-weight:bold;
	text-shadow:0 1px 0 #f1f1f1;
	

}

#access ul ul {
	border:0px;
	display: none;
	position: absolute;
	top: 48px;
	left: 0;
	float: left;
	z-index: 99999;
	padding-left:0px;margin-left:0px;
	background:#999999;}


#access ul ul li {
	padding:0px;
	margin:0px;
	width:250px;
	color:#ffffff;
	
	

	
}
#access ul ul ul {
	left: 100%;
	top: 0;
	padding:0px;
	margin:0px;
	
	
	
}



/* Sub-menu Background */
#access ul ul a {
	background:#999999;
	margin:0px;
	height: auto;
	padding-left:20px;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:10px;
    color: #fff;
	background-image: -moz-linear-gradient(100% 100% 90deg, #555555, #939393);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#939393), to(#555555));
	text-shadow:0 1px 0 #333333;
	
	
	
}


/* Menu And Sub-menu background color select (ON HOVER)  */
#access li:hover > a,
#access ul ul :hover > a {
	background: #999999;
	color: #010101;
	background-image: -moz-linear-gradient(100% 100% 90deg, #999999, #efefef);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#999999));
	text-shadow:0 1px 0 #f1f1f1;
	
}
#access ul li:hover > ul {
	display: block;
	padding:0px;
	margin:0px;
	color: #fff;
	background:#999999;
	
	
}

/* main bar current item selector */

#access ul li.current_page_item > a {
}


#access ul li.current-menu-item > a{
font-size:14px;
padding:0 15px;
}

#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-parent > a {
padding:0 15px;
}



#access ul li.current-menu-ancestor > a:hover,
#access ul li.current-menu-parent > a:hover {
	font-weight:bold;
	color:#fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
{	color: #fff;padding:0px;}


* html #access ul li a:hover {
	color: #999999;
}




.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}


.commenttitle h2{margin-top:0px;font-size:1.4em;line-height:1.4em !important;color:#222222;letter-spacing:-0.04em;font-weight:normal;margin-bottom:5px;}

.commenttitle2 h2{margin-top:0px;font-size:1.6em;line-height:1.4em !important;color:#222222;letter-spacing:-0.04em;font-weight:normal;margin-bottom:5px;border-bottom:1px solid #dfdfdf;padding-bottom:2px;margin-bottom:14px;}

.widget_categories ul{margin-left:0px;padding-left:0px;
background:none repeat scroll 0 0 #fafafa;
border:1px solid #DDDDDD;
padding:5px 20px;margin-top:2px;}

.blogroll {margin-left:0px;padding-left:0px;
background:none repeat scroll 0 0 #fafafa;
border:1px solid #DDDDDD;
padding:5px 20px;margin-top:2px;}

.blogroll li{
border-bottom:1px dotted #CCCCCC;
font-size:13px;
list-style:none outside none !important;
margin:0;
padding:10px 0;	
	}
	
.blogroll li:last-child{
border-bottom:none;
	}
	
	.widget_archive ul{margin-left:0px;padding-left:0px;
background:none repeat scroll 0 0 #fafafa;
border:1px solid #DDDDDD;
padding:5px 20px;margin-top:2px;}
	
	
.widget_archive .cat_item{
border-bottom:1px dotted #CCCCCC;
font-size:13px;
list-style:none outside none !important;
margin:0;
padding:10px 0;	
	}
	
	.widget_archive .cat_item:last-child{
border-bottom:none;	
	}

.widget_archive li{
border-bottom:1px dotted #CCCCCC;
font-size:13px;
list-style:none outside none !important;
margin:0;
padding:10px 0;	
	}
	
	.widget_archive li:last-child{
border-bottom:none;	
	}
	

.widget_categories .cat_item{
border-bottom:1px dotted #CCCCCC;
font-size:13px;
list-style:none outside none !important;
margin:0;
padding:10px 0;	
	}
	
	.widget_categories .cat_item:last-child{
border-bottom:none;	
	}

.widget_categories li{
border-bottom:1px dotted #CCCCCC;
font-size:13px;
list-style:none outside none !important;
margin:0;
padding:10px 0;	
	}
	
	.widget_categories li:last-child{
border-bottom:none;	
	}

.widget_pages ul{margin-left:0px;padding-left:0px;
background:none repeat scroll 0 0 #fafafa;
border:1px solid #DDDDDD;
padding:5px 20px;margin-top:2px;

}

.widget_pages .page_item{
border-bottom:1px dotted #CCCCCC;
font-size:13px;
list-style:none outside none !important;
margin:0;
padding:10px 0;	
	}
	
	.widget_pages .page_item:last-child{
border-bottom:none;	
	}
	
	
	


.widget_recent_entries ul{margin-left:0px;padding-left:0px;
background:none repeat scroll 0 0 #fafafa;
border:1px solid #DDDDDD;
padding:5px 20px;margin-top:2px;}

.widget_recent_entries li{
border-bottom:1px dotted #CCCCCC;
font-size:13px;
list-style:none outside none !important;
margin:0;
padding:10px 0;	
	}
	
	.widget_recent_entries li:last-child{
border-bottom:none;	
	}
	
/*Code for commments in blog sidebar*/	

.widget_recent_comments ul{margin-left:0px;padding-left:0px;
background:none repeat scroll 0 0 #fafafa;
border:1px solid #DDDDDD;
padding:5px 20px;margin-top:2px;}

.widget_recent_comments li{
border-bottom:1px dotted #CCCCCC;
font-size:13px;
list-style:none outside none !important;
margin:0;
padding:10px 0;	
	}
	
	.widget_recent_comments li:last-child{
border-bottom:none;	
	}	
	
	

.widgettitle{font-size:20px;font-weight:normal;color:#333333;line-height:26px;margin-top:5px;}

#searchform input{width:240px;border:1px solid #CCC;padding-left:0px;padding-top:5px;padding-bottom:5px;padding-right:0px;}

#searchsubmit{padding:10px;margin-top:5px;width:260px;}

#blog_post{width:620px;padding-top:5px;}

#blog_post .entry-title{font-size:30px;letter-spacing:-0.5px;line-height:33px;margin-bottom:5px;margin-top:5px;}



#blog_post .entry-content ul li{margin-bottom:8px;}
#blog_post .entry-content ol li{margin-bottom:8px;}


.entry-content ol {
    margin-left: 30px;
}

#blog_post .post-picture{-moz-border-radius:3px 3px 3px 3px;
background-color:#EEEEEE;
background-position:left bottom;
background-repeat:repeat-x;
border-color:#DDDDDD #DDDDDD #E5E5E5;
border-style:solid;
border-width:1px;
float:right;
margin-left:20px;
margin-bottom:20px;
padding:6px;
margin-top:10px;}

#commentsbox {padding-top:10px;}

#commentsbox ol{list-style:none;margin-left:0px;padding-left:0px;}

#commentsbox ol li{list-style:none;margin-left:0px;padding-left:0px;}


#commentsbox li{list-style:none;font-family:helvetica,arial,sans-serif;font-size:13px;color:#5c5c5c;min-height:130px;border-bottom:1px solid #e4e4e4;padding-bottom:10px;padding-top:15px;}

#commentsbox li:first-child{border-top:1px solid #e4e4e4;}

#commentsbox li:last-child{border-bottom:0px;}

#commentsbox li p{font-family:helvetica,arial,sans-serif;font-size:13px;color:#5c5c5c;line-height:21px;margin-top:0;}


#commentsbox ol{padding-left:0px;margin-left:0px;}

#commentsbox img{border:3px solid #e4e4e4;}

.launchcommentspic{float:left;width:110px;height:100px;font-size:12px;color:#929292;}

#commentsbox textarea{width:580px;border:1px solid #c7c7c7;padding:5px;font-size:13px;color:#494949;}

#commentsbox input{}

#commentsbox h2{width:545px;border-bottom:1px solid #dfdfdf;padding-bottom:2px;}

#commentsbox2 h2{width:545px;border-bottom:1px solid #dfdfdf;padding-bottom:2px;}

.post-meta{border-bottom:2px solid #D9D9D9;
margin-bottom:10px;
overflow:visible;
padding-bottom:0px;
height:33px;}

.divide{margin-left:5px;margin-right:5px;}

.post-people{color:#999999 !important;
float:left;
font-size:13px !important;}

.share-buttons{float:right;
padding-bottom:10px;}

.facebookshare{position:relative;float:left;}
.twittershare{position:relative;float:left;padding-right:5px;}


#launchcommentslink{padding-left:10px;height:81px;padding-top:20px;}

#launchcommentsarrow{height:81px;width:108px;background-image:url(images/commentsarrow-red.gif);float:left;}

#launchcommentstext{width:600px;font-size:25px;color:#b10000;float:left;padding-left:10px;}

#launchcommentsblock h2{width:550px;border-bottom:1px solid #dfdfdf;padding-bottom:2px;}


#launchcommentsblock{padding-right:30px;float:left;min-height:10px;}

#launchcommentsblock li{list-style:none;font-family:helvetica,arial,sans-serif;font-size:13px;color:#5c5c5c;min-height:130px;border-bottom:1px solid #e4e4e4;padding-bottom:10px !important;padding-top:15px !important;}

#launchcommentsblock li:first-child{border-top:1px solid #e4e4e4;}

#launchcommentsblock li:last-child{border-bottom:0px;}

#launchcommentsblock li p{font-family:helvetica,arial,sans-serif;font-size:13px;color:#5c5c5c;line-height:21px;}


#launchcommentsblock ol{padding-left:0px;margin-left:0px;}

#launchcommentsblock img{border:3px solid #e4e4e4;}

.launchcommentspic{float:left;width:110px;height:100px;font-size:12px;color:#929292;}

#launchcommentsblock textarea{width:580px;border:1px solid #c7c7c7;padding:5px;font-size:13px;color:#494949;}

#launchcommentsblock input{}

.launchcommentspic a{color:#636363;text-decoration:none;}

.inputcomments{color:#494949;border:1px solid #c7c7c7;padding:5px;font-size:13px;}

/* Pagination */	
	
ul.page-numbers {
	margin: 20px 0 10px;
	width: 100%;
	padding: 0;
	font-size: 12px;
	line-height: normal;
	clear: both;
	float: left;
	list-style;:none;
	}
    
    ul.page-numbers li {
    	float: left;
    	}

ul.page-numbers a,
ul.page-numbers span {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#E4E3E3), to(#FFFFFF));
	background: -moz-linear-gradient(top,  #E4E3E3,  #FFFFFF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E3E3', endColorstr='#FFFFFF');
	padding: 3px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #ccc;
	color: #666;
	}

ul.page-numbers a:hover,
ul.page-numbers span.current {	
	border: 1px solid #666;
	color: #444;
	}